<div class="">
    <div>
        <h2>{{title}}</h2>
        <h4> {{body}} </h4>
        <p> 
            By: {{member.username}} on {{format_date blog.date_created}}
        </p>
    </div>
    <br>
    <div>
        <h3>Comments:</h3>
        {{#each comment}}
        <div class="">
            <h5>
                {{comment_body}}
            </h5>
            <p>
                By: {{member.username}} on {{format_date blog.date_created}}
            </p>
        </div>
        <br>
        {{/each}}
        {{#if logged_in}}
        <div>
            <form class="">
                <label for="newComment">Add a comment:</label>
                <textarea class="" id="newComment" name="newComment"></textarea>
                <button type="submit" class="">Add</button>
            </form>
        </div>
        {{/if}}
    </div>
</div>
