<div>
    <h2>Hello {{username}} </h2>
</div>

<div>
    {{!-- blog history --}}
    <div>
        {{#if blogs.length}}
        <div class="blog-list">
            <h3>Your Blogs:</h3>
            {{#each blogs as |blog|}}
            <div class="">
                <div>
                    <h4><a href="/blog/{{blog.id}}">{{blog.title}}</a></h4>
                </div>
                <div>
                    <button class="update-btn" data-id="{{blog.id}}">Update</button>

                    <button class="delete-btn" data-id="{{blog.id}}">Delete</button>
                    
                </div>
            </div>
            {{/each}}
        </div>
        {{/if}}
    </div>
    {{!-- comment History --}}
     <div>
        {{#if member_id.comments.length}}
        <div class="comment-list">
            <h3>Your Blogs:</h3>
            {{#each comments as |comment|}}
            <div class="">
                <div>
                    <h4><a href="/blog/{{comment.id}}">{{comment.comment_body}}</a></h4>
                </div>
                <div>
                    <button class="delete-btn" data-id="{{comment.id}}">Delete</button>
                </div>
                <div>
                    <button class="update-btn" data-id="{{comment.id}}">Update</button>
                </div>
            </div>
            {{/each}}
        </div>
        {{/if}}
    </div>
    {{!-- new blog --}}
    <div> 
        <h3 class="">Create new blog:</h3>
        <form class="blog-form">
            <div class="title-div">
                <label for="blogTitle">Blog Title:</label>
                <input class="blog" type="text" id="blog-title" name="blogTitle">
            </div>
            <div class="body-div">
                <label for="blogBody">Blog Body:</label>
                <textarea class="blog" type="text" id="blog-body" name="blogBody" rows="4"></textarea>
            </div>
            <div>
                <button type="submit" class="blog">create</button>
            </div>
        </form>
    </div>
</div>

<script src="/js/profile.js"></script>


